/* reset */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
body    {
    font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

/* header style */
header  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #255ee9;
}

/* nav style */
nav     {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: #255ee9;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* nav section style */
nav div {
    display: flex;
}

.logo, .login    {
    width: 20%;
}

.nav_link   {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav_link a   {
    text-decoration: none;
    color: white;
}

.login  {
    justify-content: end;
}

.button_login   {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

/* title section style */
.title  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/jumbo.png);
    background-size: cover;
    /* debug
    height: 400px; */
}

.content    {
    margin: 90px auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: white;
    width: 50%;
}

.content p  {
    text-align: center;
    line-height: 25px;
    margin-top: 30px;
}

.call_action    {
    margin: 10px auto 90px;
    display: flex;
    gap: 40px;
}

.download   {
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 15px 15px;
}

.browser    {
    border-radius: 20px;
    background-color: black;
    padding: 15px 15px;
}


/* style main section */

.section    {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 50px;
}

.cont_sect  {
    display: flex;
    width: 80%;
}

.img    {
    width: 60%;
}

.text   {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2  {
    margin-bottom: 10px;
}

.section_4  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}


/* section_4 style */

.container  {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    align-items: center;
    text-align: center;
}

.container h2   {
    margin-bottom: 20px;
}

.section_4 h3  {
    margin: -15px auto 30px;
}

#download   {
    background-color: #6791e4;
    margin-bottom: 30px;
}


/* footer */

.footer_1   {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23272a;
    padding-top: 30px;
}


.footer_2   {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23272a;
    padding-bottom: ;
}

.social {
    margin-top: 20px;
    width: 20%;
    background-color: #23272a;
    color: white;
    /* debug */
    height: 450px
}

.social h3  {
    font-size: 30px;
    color: #6791e4;
}

.lang   {
    margin-top: 20px;
}

.social img {
    width: 50px;
    height: 30px;
}

.icons  {
    margin-top: 20px;
}

.icons i    {
    margin-right: 10px;
}

.useful_links   {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 60%;
    line-height: 20px;
    background-color: #23272a;
    color: white;
}

.useful_links div   {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.useful_links #title  {
    color: #6791e4;
}

.footer_container   {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 90%;
    border-top: 1px solid #6791e4;
    padding-bottom: 30px;
}

.footer_logo    {
    height: 80%;
    width: 10%;
}

.button_register   {
    color: white;
    background-color: #6791e4;
    border-radius: 20px;
    padding: 10px;
}