/* reset */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
body    {
    font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

/* header style */
header  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #255ee9;
}

/* nav style */
nav     {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: #255ee9;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* nav section style */
nav div {
    display: flex;
}

.logo, .login    {
    width: 20%;
}

.nav_link   {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav_link a   {
    text-decoration: none;
    color: white;
}

.login  {
    justify-content: end;
}

.button_login   {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

/* title section style */
.title  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/jumbo.png);
    background-size: cover;
    /* debug
    height: 400px; */
}

.content    {
    margin: 90px auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: white;
    width: 50%;
}

.content p  {
    text-align: center;
    line-height: 25px;
    margin-top: 30px;
}

.call_action    {
    margin: 10px auto 90px;
    display: flex;
    gap: 40px;
}

.download   {
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 15px 15px;
}

.browser    {
    border-radius: 20px;
    background-color: black;
    padding: 15px 15px;
}


/* style main section */

.section    {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 50px;
}

.cont_sect  {
    display: flex;
    width: 80%;
}

.img    {
    width: 60%;
}

.text   {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2  {
    margin-bottom: 10px;
}

.section_4  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

/* div inside section style */
/* .img    {
    width: 60%;
}

.text   {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
} */

/* section_4 style */

.container  {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    align-items: center;
    text-align: center;
}

.container h2   {
    margin-bottom: 20px;
}

h3  {
    margin: -15px auto 30px;
}

#download   {
    background-color: #6791e4;
    margin-bottom: 30px;
}

/* footer */
.footer_1   {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: rgb(52, 48, 48);
    height: 500px;
}

.footer_2   {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: rgb(52, 48, 48);
    height: 50px;
}

.social {
    width: 20%;
    /* debug */
    background-color: rgb(234, 128, 128);
    height: 450px;
}

.useful_links   {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    /* debug */
    background-color: rgb(82, 150, 175);
    height: 450px;
}

.useful_links div   {
    width: 25%;
    /* debug */
    border: 1px dotted black;
    height: 100%;
}
.footer_container   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 90%;
    /* debug */
    border: 1px solid white;
}

.footer_logo    {
    height: 80%;
    width: 10%;
    /* debug */
    background-color: rgb(234, 128, 128); 
}

.registrati {
    height: 80%;
    width: 10%;
    /* debug */
    background-color: rgb(234, 128, 128); 
}